@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.scroll::-webkit-scrollbar {
    display: none;
}

.scroll {
    width: 100%;
    display: grid;
}

.cont {
    display: grid;
    grid-auto-rows: 1fr;
}

.scroll-container {
    width: 100%;
    contain: size;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 10000;
}

.scroll-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #333;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

.popins {
    font-family: "Poppins", sans-serif;
}

.header:hover {
    background: #333;
    color: white;
    transition: color 0.2s linear;
}

/* Custome Cursor Css start*/

.flare {
    position: fixed;
    border: 1px solid #333;
    border-radius: 50%;
    mix-blend-mode: screen;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999999 !important;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    cursor: none !important;
}

@media screen and (max-width: 768px) {
    .flare {
        width: 0;
        height: 0;
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
            opacity 0.2s ease-in-out;
    }
}

.flare.pointer {
    opacity: 0 !important;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* Custom Cursor Css end */

/* img glitch effect start */

.glitch {
    position: relative;
    overflow: hidden;
}

.glitch img {
    position: relative;
    z-index: 1;
    display: block;
}

.glitch__layers {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.glitch__layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(https://cdn.sanity.io/images/tl8h1ybg/production/d512cdb4c9362dc62e9adf525c9be018dc8837ad-1000x1210.jpg);
    background-repeat: no-repeat;
    width: 31%;
    background-position: 0 0;
}

.glitch__layer:nth-child(1) {
    transform: translateX(-5%);
    animation: glitch-anim-1 2s infinite linear alternate;
}

.glitch__layer:nth-child(2) {
    transform: translateX(3%) translateY(3%);
    animation: glitch-anim-2 2.3s -.8s infinite linear alternate;
}

.glitch__layer:nth-child(3) {
    transform: translateX(5%);
    animation: glitch-anim-flash 1s infinite linear;
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
    }

    10% {
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }

    20% {
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }

    30% {
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }

    40% {
        clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
    }

    50% {
        clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
    }

    60% {
        clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
    }

    70% {
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }

    80% {
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    90% {
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }

    100% {
        clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
    }

    15% {
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }

    25% {
        clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
    }

    30% {
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }

    45% {
        clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
    }

    50% {
        clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
    }

    65% {
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }

    75% {
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    80% {
        clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
    }

    95% {
        clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
    }

    100% {
        clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
    }
}

@keyframes glitch-anim-flash {
    0% {
        opacity: .2;
    }

    30%,
    100% {
        opacity: 0;
    }
}

/* img glitch effect end */

.list::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5.5px 0 5.5px 9.5px;
    border-color: transparent transparent transparent #7d7789;
    left: 0px;
    top: 7px;
}

.span::after {
    position: absolute;
    margin-left: 25px;
    left: 100%;
    top: 50%;
    margin-left: 30px;
    height: 1px;
    width: 200px;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-bg-opacity: 1;
    background-color: rgb(125 119 137 / var(--tw-bg-opacity));
    --tw-content: "";
    content: var(--tw-content);
}

.span-abt::after {
    position: absolute;
    margin-left: 25px;
    left: 100%;
    top: 50%;
    margin-left: 30px;
    height: 1px;
    width: 616px;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-bg-opacity: 1;
    background-color: rgb(125 119 137 / var(--tw-bg-opacity));
    --tw-content: "";
    content: var(--tw-content);
}

/* Circular Svg Start */

.CircularProgressbar-path {
    stroke: #7d7789;
    stroke-dasharray: 304.7344873982099px 304.7344873982099px;
    stroke-dashoffset: 15.23672436991051px;
}

.CircularProgressbar-trail {
    stroke: #7d77893d;
    stroke-dasharray: 304.7344873982099px 304.7344873982099px;
    stroke-dashoffset: 0px;
}

/* Circular Svg  End*/


.uni:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, .07);
    --tw-content: "";
    content: var(--tw-content);
}

.li:before {
    position: absolute;
    left: -9px;
    top: 16px;
    height: 18px;
    width: 18px;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(204 204 204 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(246 251 255 / var(--tw-bg-opacity));
    --tw-content: "";
    content: var(--tw-content);
}